Source: ros-indigo-jackal-base
Section: misc
Priority: extra
Maintainer: Mike Purvis <mpurvis@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin, ros-indigo-diagnostic-updater, ros-indigo-hardware-interface, ros-indigo-jackal-msgs, ros-indigo-nmea-msgs, ros-indigo-realtime-tools, ros-indigo-roslaunch, ros-indigo-roslint, ros-indigo-rosserial-server, ros-indigo-sensor-msgs, ros-indigo-topic-tools
Homepage: http://wiki.ros.org/Robots/Jackal
Standards-Version: 3.9.2

Package: ros-indigo-jackal-base
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-scipy, ros-indigo-controller-manager, ros-indigo-diagnostic-updater, ros-indigo-diff-drive-controller, ros-indigo-geometry-msgs, ros-indigo-imu-filter-madgwick, ros-indigo-jackal-msgs, ros-indigo-nmea-msgs, ros-indigo-nmea-navsat-driver, ros-indigo-realtime-tools, ros-indigo-rosserial-python, ros-indigo-rosserial-server, ros-indigo-sensor-msgs, ros-indigo-teleop-twist-joy, ros-indigo-tf, ros-indigo-topic-tools
Description: Nodes and launchfiles for Jackal's base equipment.
