Source: ros-melodic-jackal-robot
Section: misc
Priority: optional
Maintainer: Mike Purvis <mpurvis@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin
Homepage: http://wiki.ros.org/Robots/Jackal
Standards-Version: 3.9.2

Package: ros-melodic-jackal-robot
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-jackal-bringup (>= 0.3), ros-melodic-jackal-firmware
Description: Metapackage of software to install on Jackal.
